{% extends 'base.html' %}
{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>SimpleStock</h1>
        <h2>Showing Stock Data, Simply Put.</h2>
      </div>
    </div>

{% endblock %}

{% block content %}
<div class='col-sm-12' style='text-align: center;'>
          <h4>Our website shows current and historical stock prices for the common Stock Tickers in the US. The financial data is modeled in an interactive graph, allowing the viewer to switch time perspectives quickly and simply.</h4>

</div>
{% endblock %}